/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
}

.bou-btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 15px;
}

:root {
  /* Font Sizes & Family */
  /* if we set html's font size 62.5% then 1rem = 10px */

  --body-font: "Poppins", sans-serif;

  --big-font: 4rem;
  --h1-font: 3.6rem;
  --h2-font: 2.4rem;
  --h3-font: 2rem;
  --h4-font: 1.8rem;
  --normal-font: 1.6rem;
  --small-font: 1.4rem;
  --smaller-font: 1.3rem;

  /* Font Weight ***/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Color Variables */
  --primary-color: #4faed9;
  --primary-color-hover: #4faed9;
  --text-color: #333;
  --text-color-light: #888682;
  --border-color: #484848;
  --white-color: #fff;
  --section-bg: #2c3034;

  /* z-index */
  --z-overlay: 10;
  --z-fixed: 100;

  /* transition */
  --tran-0-2: 0.2s;
  --tran-0-3: 0.3s;
  --tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
  :root {
    --big-font: 3.5rem;
    --h1-font: 2.4rem;
    --h2-font: 2rem;
    --h3-font: 1.8rem;
    --h4-font: 1.6rem;
    --normal-font: 1.5rem;
    --small-font: 1.3rem;
    --smaller-font: 1.2rem;
  }
}

/* Pre-CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--white-color);
}

/* Custom Scrollbar */
::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f9f1ec;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background-color: var(--primary-color-hover);
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

input {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reusuable CSS */
.section {
  padding: 7rem 2rem;
}

.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.button {
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.section-subtitle,
.content-subtitle {
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}

.section-title,
.content-title {
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}

.section-description,
.content-description {
  text-align: center;
  margin-bottom: 2rem;
}

.section-description {
  padding: 0 16rem;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  transition: var(--tran-0-5);
}

.header-active {
  height: 6rem;
  background-color: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* nav */
.nav {
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo-icon,
.logo-text,
.nav-link,
.phone-icon,
.phone-number {
  color: var(--white-color);
}

.header-active .logo-icon,
.header-active .logo-text,
.header-active .nav-link,
.header-active .phone-icon,
.header-active .phone-number {
  color: var(--text-color);
}

.logo-icon,
.phone-icon {
  font-size: 2rem;
}

.menu-list {
  column-gap: 2rem;
}

.nav-link {
  position: relative;
  text-transform: capitalize;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  opacity: 0;
}

.active-navlink::before {
  opacity: 1;
}

.header-active .active-navlink::before {
  background-color: var(--text-color);
}

.media-icons {
  column-gap: 1rem;
}

.media-icons a {
  color: var(--text-color-light);
}

.navClose-btn,
.navOpen-btn,
.media-icons {
  display: none;
}

/* nav responsive */
@media screen and (max-width: 768px) {
  .contact-content {
    display: none;
  }

  .navClose-btn,
  .navOpen-btn,
  .media-icons {
    display: block;
  }

  .nav .menu-content {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 300px;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    padding: 10rem 0 5rem;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
  }

  .nav .menu-content.open {
    right: 0;
  }

  .menu-list {
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }

  .nav-link {
    color: var(--text-color);
  }

  .nav-link::before {
    background-color: var(--text-color);
  }

  .navClose-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .navOpen-btn {
    font-size: 2rem;
    cursor: pointer;
    color: var(--white-color);
  }

  .header-active .navOpen-btn {
    color: var(--text-color);
  }
}

/* Home */
.home {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
}

.swiper-slide {
  position: relative;
  height: 100vh;
  width: 100%;
}

.home .swiper-slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-overlay);
}

.home-img {
  height: 100%;
  width: 100%;
}

/* swiper button */
.swiper-navBtn {
  height: 5rem;
  width: 5rem;
  color: var(--white-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--tran-0-2);
  opacity: 0;
  visibility: visible;
}

.home:hover .swiper-navBtn,
.review:hover .swiper-navBtn {
  opacity: 1;
}

.swiper-navBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.swiper-navBtn::after,
.swiper-navBtn::before {
  font-size: 2rem;
}

.swiper-button-next {
  right: 16rem;
}

.swiper-button-prev {
  left: 16rem;
}

.swiper-pagination-bullet {
  background-color: var(--white-color);
  opacity: 1;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 2rem;
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  border: 3px solid var(--white-color);
  background-color: var(--primary-color);
}

.home-details {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-fixed);
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
  padding: 25px !important;
}

.homeSubtitle {
  text-align: center;
  font-size: var(--normal-font);
  color: var(--white-color);
}

.homeTitle {
  text-align: center;
  font-size: var(--big-font);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

/* About */
.about .content-subtitle,
.about .content-title,
.about .content-description {
  text-align: left;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7rem;
  align-items: center;
  padding: 0 5rem;
}

.about-imageContent {
  position: relative;
  max-width: 400px;
  height: 450px;
  border: 6px solid var(--section-bg);
}

.aboutImg-textBox {
  position: absolute;
  bottom: 2rem;
  right: -5rem;
  padding: 2rem;
  max-width: 360px;
  width: 100%;
  text-align: center;
  border: 6px solid var(--section-bg);
  background-color: var(--white-color);
}

.aboutImg-textBox .content-description {
  text-align: center;
  margin-bottom: 0;
}

.heart-icon {
  position: absolute;
  left: -1.9rem;
  top: 50%;
  height: 3rem;
  width: 3rem;
  color: var(--white-color);
  background-color: var(--section-bg);
  transform: translateY(-50%);
  justify-content: center;
  border-radius: 50%;
}

.about-details {
  display: grid;
  row-gap: 4rem;
}

.about-lists {
  column-gap: 1rem;
  align-items: baseline;
}

.about-list {
  font-weight: var(--font-medium);
  font-size: 1.8rem;
}

.about-list:nth-child(1) {
  color: var(--primary-color);
}

.about-list.dot {
  font-size: 2.5rem;
}

.about-buttons {
  column-gap: 2rem;
}

.about-link .link-text,
.about-arrowIcon {
  color: var(--text-color);
  text-transform: uppercase;
}

.about-arrowIcon {
  transition: var(--tran-0-3);
}

.about-link:hover .about-arrowIcon {
  margin-left: 4px;
}

/* Menu */
.menu {
  background-color: var(--section-bg);
}

.section-title,
.section-description {
  color: var(--white-color);
}

.menu .menu-content {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 6rem;
  margin-top: 6rem;
}

.menu-img {
  height: 80px;
  width: 80px;
  margin-right: 1.5rem;
}

.menu-items {
  display: grid;
  row-gap: 1.5rem;
}

.menu-item {
  position: relative;
  padding: 2rem 2.5rem;
  background-color: var(--white-color);
}

.menuItem-details {
  margin-right: 1.5rem;
}

.menuItem-topic {
  font-weight: var(--font-semi-bold);
}

.menuItem-des {
  font-size: var(--small-font);
}

.menuItem-price {
  flex-direction: column;
  padding-left: 2rem;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.discount-price {
  font-size: 1.8rem;
}

.real-price {
  text-decoration: line-through;
}

.time-topic {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: var(--font-regular);
  padding: 1.5rem 0;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.time-list {
  padding: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: var(--white-color);
}

.time-list:nth-child(7) {
  border-bottom: none;
}

/* Brand */
.brand-images {
  display: grid;
  align-items: center;
  column-gap: 2rem;
  justify-content: space-between;
  justify-items: center;
  margin-top: 3rem;
  grid-template-columns: repeat(5, 1fr);
}

.brand-img {
  width: 150px;
  object-fit: contain;
  opacity: 0.4;
  transition: var(--tran-0-5);
}

.brand-img:hover {
  opacity: 1;
}

/* Review */
.review {
  background-color: #f2f2f2;
}

.review .section-title,
.review .section-description {
  color: var(--text-color);
}

.testi-content {
  position: relative;
  height: 100%;
  width: 100%;
  row-gap: 2rem;
  flex-direction: column;
}

.review-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.review-quote {
  padding: 0 15rem;
  text-align: center;
}

.quote-icon {
  font-size: 3rem;
  color: var(--primary-color);
}

.testi-personDetails {
  flex-direction: column;
}

.testi-personDetails .name {
  font-size: 1.8rem;
  font-weight: var(--font-medium);
}

/* swiper btn */
.review .swiper-navBtn {
  background-color: rgba(0, 0, 0, 0.1);
}

.review .swiper-button-next {
  right: 2rem;
  transform: translateY(2rem);
}

.review .swiper-button-prev {
  left: 2rem;
  transform: translateY(2rem);
}

.review .swiper-navBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Newsletter */
.newsletter .logo-icon,
.newsletter .logo-text,
.newsletter .section-description {
  color: var(--text-color);
}

.newletter-container {
  display: grid;
  justify-items: center;
  row-gap: 4rem;
}

.newsletter .logo-icon {
  font-size: 3rem;
  color: var(--text-color-light);
}

.newsletter .logo-text {
  color: var(--text-color-light);
  font-size: 2rem;
  font-weight: var(--font-medium);
}

.newsletter-inputBox {
  position: relative;
  height: 5rem;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
}

.newletter-input {
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0 16rem 0 2rem;
}

.newsletter-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 3rem 3rem 0;
}

.newsletter .media-icons {
  display: flex;
}

/* Footer */
.footer {
  padding: 4rem 2rem 3rem;
  background-color: var(--section-bg);
}

.footer .content-description,
.footer .map-icon,
.footer .location-text {
  color: var(--text-color-light);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  align-items: center;
}

.footer-content {
  display: grid;
  row-gap: 3rem;
}

.footer .logo-text,
.footer .logo-icon {
  color: var(--text-color-light);
  font-size: 2rem;
  font-weight: var(--font-medium);
}

.footer .logo-icon {
  font-size: 3rem;
}

.footer .content-description,
.footer .location-text {
  text-align: left;
  font-size: var(--small-font);
}

.footer .map-icon {
  font-size: 3rem;
  margin-right: 1rem;
}

.footer-linkContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}

.footer-links {
  display: grid;
  row-gap: 1rem;
  font-weight: var(--font-medium);
  color: var(--white-color);
}

.footer-link {
  font-size: var(--small-font);
  color: rgba(255, 255, 255, 0.5);
  transition: var(--tran-0-3);
}

.footer-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer-copyRight {
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: var(--small-font);
  border-top: 2px solid var(--text-color-light);
  color: rgba(255, 255, 255, 0.8);
}

/* Scroll Up */
.scrollUp-btn {
  position: fixed;
  bottom: -30%;
  left: 3rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: 4px;
  color: var(--primary-color-hover);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  z-index: var(--z-overlay);
  justify-content: center;
  transition: var(--tran-0-3);
}

.scrollUpBtn-active {
  bottom: 3rem;
}

.scrollUp-icon {
  opacity: 0.9;
  transition: var(--tran-0-3);
}

.scrollUp-btn:hover .scrollUp-icon {
  opacity: 1;
}

/* Responive media */
@media screen and (max-width: 1150px) {
  .swiper-button-prev {
    left: 10rem;
  }

  .swiper-button-next {
    right: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .swiper-button-prev {
    left: 3rem;
  }

  .swiper-button-next {
    right: 3rem;
  }

  .section-description {
    padding: 0 8rem;
  }

  .about-imageContent {
    height: 400px;
  }

  .aboutImg-textBox {
    padding: 1.5rem 2rem;
  }

  .menu .menu-content {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3rem;
  }

  .brand-images {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .section.review {
    padding: 7rem 1rem 3rem;
  }

  .review .swiper {
    padding-bottom: 6.5rem;
  }

  .swiper-navBtn {
    visibility: hidden;
  }

  .swiper-pagination-bullet {
    visibility: visible;
  }

  .section {
    padding: 7rem 1rem;
  }

  .section-description,
  .review-quote {
    padding: 0 6rem;
  }

  .about-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    justify-items: center;
  }

  .about .content-subtitle,
  .about .content-title,
  .about .content-description {
    text-align: center;
  }

  .about-details {
    justify-items: center;
  }

  .about-lists {
    justify-content: center;
  }

  .menu .menu-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .footer-container {
    row-gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 1px;
  }

  .section-description,
  .review-quote {
    padding: 0;
  }

  .aboutImg-textBox {
    right: -2rem;
  }

  .menuItem-price {
    border: none;
  }

  .menu-img {
    height: 70px;
    width: 70px;
    margin-right: 0;
  }

  .brand-images {
    grid-template-columns: repeat(2, 1fr);
  }

  .brand-img {
    width: 130px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }

  .footer-content {
    justify-items: center;
  }

  .footer-linkContent {
    justify-items: center;
  }
}

@media screen and (max-width: 400px) {
  .homeTitle {
    font-size: 3rem;
  }

  .menu-item {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    row-gap: 2rem;
  }

  .menuItem-details {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menuItem-price {
    padding-left: 0;
    flex-direction: row;
  }

  .menuItem-des {
    text-align: center;
  }

  .newsletter-input {
    padding: 0 11rem 0 2rem;
  }

  .newsletter-button {
    padding: 1.4rem 2rem;
  }
}

/* card section */
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 150px auto;
  padding: 20px;
  gap: 20px;
}

.card-list .card-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.card-list .card-item:hover {
  border: 2px solid #000;
}

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.card-list span {
  display: inline-block;
  background: #f7dff5;
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}

.card-list .developer {
  background-color: #f7dff5;
  color: #b22485;
}

.card-list .designer {
  background-color: #d1e8ff;
  color: #2968a8;
}

.card-list .editor {
  background-color: #d6f8d6;
  color: #205c20;
}

.card-item h3 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
  background: #000;
  color: #fff;
}

@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
}

/* vice-profile */
.vice-profile {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  padding-bottom: 13px;
  border-radius: 10px;
}

.vice-image {
  padding: 15px;
  height: 150px;
  width: 160;
  border-radius: 20px;
}

.vice-designation {
  padding-bottom: 40px;
}

.vice-content {
  text-align: justify;
  color: gray;
  font-size: 13px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* First column is 1/3, second column is 2/3 of the width */
  grid-gap: 20px;
  /* Gap between the columns */
  padding: 20px;
}

.section {
  /* border: 1px solid #ddd; */
  padding: 30px;
  /* border-radius: 15px; */
}

@media (max-width: 768px) {
  /* Responsive layout for smaller screens */
  .grid-container {
    grid-template-columns: 1fr;
    /* Single column for small screens */
  }

  .section {
    width: 100%;
    margin-top: 15px;
  }

  .grid-container {
    /* First column is 1/3, second column is 2/3 of the width */
    grid-gap: 0px;
    /* Gap between the columns */
    padding: 0px;
  }
}

/* resource */
.grid-container-resource {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  /* Updated line */
  gap: 20px;
  padding: 20px;
}

/* Style for the resource class */
.resource {
  /* background-color: #a31313; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .grid-container-resource {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    /* Updated line */
    gap: 20px;
    padding: 20px;
  }
}

.overlay-solid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 6;

  /* Adjust the color and opacity as needed */
}

/* Your content styles */
.content-resarch {
  z-index: 1;

  color: white;
}

/* swip slider */
.wiper-track {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.5rem;
  margin: 0 auto;
  transition: transform 0.4s ease-in;
  padding: 0 1rem;
}

.wiper-item {
  width: 200px;
  height: 250px;
  position: relative;
  transition: scale 0.2s linear;
}

.wiper-button img {
  height: 30px;
  width: 100%;
  object-fit: cover;
}

.wiper {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}

.active-swipe {
  transform: scale(1.1);
}

.wiper-button {
  margin: 0 1rem;
  height: 70px;
  width: 45px;
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  transform: translateY(-50%);
  z-index: 1;
}

.wiper-button__left {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}

.wiper__image-button {
  right: 50%;
  top: 50%;
  position: absolute;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  background-color: white;
  border: none;
  font-size: 1.4rem;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;
}

.wiper-wrapper {
  max-width: 660px;
  overflow: hidden;
  padding: 2rem 0.5rem;
  margin: 0 auto;
}

.swiper__image-button {
  right: 50%;
  top: 50%;
  position: absolute;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  background-color: white;
  border: none;
  font-size: 1rem;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;
}

.swiper__image-button:hover {
  color: red;
}

.count-main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  background: url("../images/co.jpg") center/cover no-repeat;
}
.count-time {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 370px;
  border-radius: 10px;
  position: relative;
  background: url("../images/hall.jpg") center/cover no-repeat;
}
.overly {
  background-size: cover;
  position: absolute;
  left: 0;

  top: 0;
  height: 400px;
  width: 100%;
  background-color: rgba(2, 2, 8, 0.4);
}
.overly-time {
  background-size: cover;
  position: absolute;
  left: 0;
  border-radius: 10px;
  top: 0;
  height: 370px;
  width: 100%;
  background-color: rgba(2, 2, 17, 0.4);
}

.review {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 350px; */
  /* border-radius: 10px; */
  position: relative;
  width: 100%;
  background: url("../images/cl.jpg") center/cover no-repeat;
}

.overly-review {
  left: 0;
  border-radius: 10px;
  top: 0;
  width: 100%;
  background-color: rgba(110, 5, 10, 0.4);
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .overly {
    height: 600px;
    /* 2 columns on smaller screens */
  }
  .count-main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    background: url("../images/hall.jpg") center/cover no-repeat;
  }
}

.wiper__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.is-hidden {
  display: none;
}

/* counter  */
.body-counter {
  box-sizing: border-box;
}

.container-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.box-counter {
  flex: 0 1 calc(25% - 20px);
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
}

.box-counter img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns by default */
  gap: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns on smaller screens */
  }
}

/* Just for styling purposes */
.grid-item {
  padding: 20px;
  text-align: center;
}

.counter-img {
  height: 64px;
}

/* news blog */

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  text-transform: capitalize;
}

p {
  line-height: 1.5;
}

.cards {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-auto-flow: dense;
  align-items: start;

  .card {
    margin: 0 auto;
    max-width: 320px;
    height: fit-content;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s, transform 0.3s;
      transform: scale(1.05);

      .card-header {
        h3 {
          transition: color 0.3s;
          color: royalblue;
        }
      }
    }

    .card-hero {
      img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }

    .card-header {
      padding: 8px 16px;

      font-size: 14px;
      text-align: justify;
    }

    .card-body {
      padding: 8px 16px;
    }

    .card-footer {
      padding: 8px 16px 16px 16px;
      display: flex;
      gap: 8px;

      .footer-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        font-size: 10px;
      }

      .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
  }
}

.muted {
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1100px) {
  .cards {
    .card {
      max-width: 280px;
    }
  }
}

@media only screen and (max-width: 920px) {
  .cards {
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr;

    .card {
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .cards {
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr;

    .card {
      max-width: 320px;
    }
  }
}

/* === HEADING STYLE  === */
.section-heading {
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0;
  color: var(--primary-color);
}
.section-heading p {
  font-size: 13px;
  color: #333;
}

/* new nav for dropdwn */
nav {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  display: inline-block;
}

nav ul li {
  position: relative;
  /* margin: 0 20px 0 0; */
  float: left;
  display: inline-block;
}

li > a:after {
  content: "";
}

/* Change this in order to change the Dropdown symbol */
li > a:only-child:after {
  content: "";
}

nav ul li a {
  padding-inline: 20px;
  padding: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  opacity: 0.5;
}

nav ul li ul {
  display: none;
  position: absolute;
  left: 0;
  background: var(--primary-color);
  float: left;
}

nav ul li ul li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul li:hover ul {
  display: block;
}

/* new swip slider */

/* Some Resets */
.slider-main {
  display: grid;
  place-items: center;
}

.slider-section {
  margin-bottom: 15%;
  padding: 5rem 0;
  /* tablet sizing*/
  width: 100%;

  /* Added max-width */
  height: min-content;
  display: flex;
  justify-content: center;
  align-self: center;
}

.carousel__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content;
  grid-template-areas:
    "title nav"
    "carousel carousel";
  position: relative;
  width: 100%;
  height: max-content;
  gap: 2rem 0;
  align-items: center;
}

.carousel__header {
  grid-area: title;
  font-weight: 700;
  font-size: 2rem;
}

.carousel {
  grid-area: carousel;
  position: relative;
  overflow-x: clip;
  width: 100%;
  /* Added width */
}

.carousel__item {
  position: absolute;
  padding: 2rem;
  border-radius: 12px;
  background: #eee;
  top: 0;
  transition: all ease-in-out 800ms;
  display: grid;
  place-items: center;
  width: 100%;
  /* Added width */
}

.carousel__item--active {
  top: -0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel__item__name {
  color: #fff;
  text-align: center;
}

.carousel__item > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem 0;
}

/* Caousel Nav */
.carousel__nav {
  grid-area: nav;
  justify-self: end;
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

.carousel__nav__item {
  padding: 0.375rem;
  border: 1px solid #eee;
  border-radius: 24px;
  background-color: #e5e5e5;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
}

.carousel__nav__item:hover {
  background-color: #cacacb;
}

@media screen and (max-width: 768px) {
  .slider-section {
    padding: 2rem 0;
    /* Adjusted padding */
    margin-bottom: 10%;
  }
}

/* Add this CSS for responsiveness */
.carousel__item {
  width: 100%;
  /* Set item width to 100% */
  left: 0;
  /* Reset left position */
}

@media screen and (min-width: 768px) {
  .carousel__item {
    width: calc(33.33% - 16px);
    /* Calculate width for each item */
    /* Adjust width and gap according to the number of items you want to show */
  }
}
/* Add this CSS for responsiveness */
.carousel__item {
  width: 100%;
  /* Set item width to 100% */
  left: 0;
  /* Reset left position */
}

@media screen and (min-width: 768px) {
  .carousel__item {
    width: calc(33.33% - 16px);
    /* Calculate width for each item */
    /* Adjust width and gap according to the number of items you want to show */
  }
}

@media screen and (max-width: 768px) {
  .carousel__wrapper {
    grid-template-columns: 1fr;
    /* Change to single column layout */
    grid-template-areas:
      "title"
      "carousel"
      "nav";
    /* Adjust grid template areas */
  }
}

.slider-main {
  display: grid;
  place-items: center;
}

.slider-section {
  margin-bottom: 15%;
  padding: 5rem 0;
  /* tablet sizing*/
  width: 100%;
  /* Added max-width */
  height: min-content;
  display: flex;
  justify-content: center;
  align-self: center;
}

.carousel__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content;
  grid-template-areas: "title nav" "carousel carousel";
  position: relative;
  width: 100%;
  height: max-content;
  gap: 2rem 0;
  align-items: center;
}

.carousel__header {
  grid-area: title;
  font-weight: 700;
  font-size: 2rem;
}

.carousel {
  grid-area: carousel;
  position: relative;
  overflow-x: clip;
  width: 100%;
  /* Added width */
}

.carousel__item {
  position: absolute;
  padding: 2rem;
  border-radius: 12px;
  background: #eee;
  top: 0;
  transition: all ease-in-out 800ms;
  display: grid;
  place-items: center;
  width: 100%;
  /* Added width */
}

.carousel__item--active {
  top: -0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel__item__name {
  color: #fff;
  text-align: center;
}

.carousel__item > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem 0;
}

/* Caousel Nav */
.carousel__nav {
  grid-area: nav;
  justify-self: end;
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

.carousel__nav__item {
  padding: 0.375rem;
  border: 1px solid #eee;
  border-radius: 24px;
  background-color: #e5e5e5;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
}

.carousel__nav__item:hover {
  background-color: #cacacb;
}

@media screen and (max-width: 768px) {
  .slider-section {
    padding: 2rem 0;
    /* Adjusted padding */
    margin-bottom: 10%;
  }

  .carousel__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "carousel" "nav";
    gap: 2rem;
  }
}

/* news */
.projcard-container {
  margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}

.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
}

.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
  transform: translate(0px, -3px);
}

.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}

.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}

.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}

.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}

.projcard:hover .projcard-bar {
  width: 70px;
}

.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}

.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}

.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}

.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}

.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}

.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}

.projcard-textbox * {
  position: relative;
}

.projcard-title {
  font-family: "Voces", "Open Sans", arial, sans-serif;
  font-size: 24px;
}

.projcard-subtitle {
  font-family: "Voces", "Open Sans", arial, sans-serif;
  color: #888;
}

.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.projcard-blue .projcard-bar {
  background-color: #0088ff;
}

.projcard-blue::before {
  background-image: linear-gradient(-70deg, #0088ff, transparent 50%);
}

.projcard-blue:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #0088ff, transparent 50%);
}

.projcard-red .projcard-bar {
  background-color: #d62f1f;
}

.projcard-red::before {
  background-image: linear-gradient(-70deg, #d62f1f, transparent 50%);
}

.projcard-red:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #d62f1f, transparent 50%);
}

.projcard-green .projcard-bar {
  background-color: #40bd00;
}

.projcard-green::before {
  background-image: linear-gradient(-70deg, #40bd00, transparent 50%);
}

.projcard-green:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #40bd00, transparent 50%);
}

.projcard-yellow .projcard-bar {
  background-color: #f5af41;
}

.projcard-yellow::before {
  background-image: linear-gradient(-70deg, #f5af41, transparent 50%);
}

.projcard-yellow:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #f5af41, transparent 50%);
}

.projcard-orange .projcard-bar {
  background-color: #ff5722;
}

.projcard-orange::before {
  background-image: linear-gradient(-70deg, #ff5722, transparent 50%);
}

.projcard-orange:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #ff5722, transparent 50%);
}

.projcard-brown .projcard-bar {
  background-color: #c49863;
}

.projcard-brown::before {
  background-image: linear-gradient(-70deg, #c49863, transparent 50%);
}

.projcard-brown:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #c49863, transparent 50%);
}

.projcard-grey .projcard-bar {
  background-color: #424242;
}

.projcard-grey::before {
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
}

.projcard-grey:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-customcolor .projcard-bar {
  background-color: var(--projcard-color);
}

.projcard-customcolor::before {
  background-image: linear-gradient(
    -70deg,
    var(--projcard-color),
    transparent 50%
  );
}

.projcard-customcolor:nth-child(2n)::before {
  background-image: linear-gradient(
    -250deg,
    var(--projcard-color),
    transparent 50%
  );
}

.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.projcard-tag {
  display: inline-block;
  background: #e0e0e0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}

.projcard-tag::before {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}

.projcard-tag::after {
  content: "";
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #e0e0e0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

/* new card single */
.card-single-blog {
  background: #fff;
  border: 1px solid gray;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  position: relative;
}

.card h2 {
  margin: 0;
  padding: 0 1rem;
}

.card-single-blog .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}

.card-single-blog .desc {
  font-size: 12px;
}

.card-single-blog .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.card-single-blog svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 10px;
}

.title-total h2 {
  font-size: 20px !important;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 120px !important;
  height: 120px !important;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqYe-QzcfY6zn0-hXYeMDDaRXhVhHFlXnktA&usqp=CAU");
  background-position: center center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: #4caf50;
    transform: rotate(22deg);
  }
}

/* notice-container */
@media (min-width: 1280px) {
  .notice-container {
    display: flex !important;
    flex-wrap: nowrap !important;
  }

  .notice-container .projcard-container {
    width: 800px !important;
  }
}
